:root {
  --dark-blue: #10292d;
  --primary-blue: #173c42;
  --light-blue: #25616a;
  --dark-green: #8ac117;
  --primary-green: #a8e524;
  --light-green: #b7ea48;
  --dark-beige: #f7f2c9;
  --primary-beige: #fbf8e3;
  --light-beige: #faf3eb;
  --off-white-green: #f5fffa;
  --off-white-blue: #f0f8ff;
}

@import url("https:fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

/* Mobile */
@media screen and (max-width: 767px) {
  nav {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }
  .nav-link {
    padding: 0.5rem;
    margin: 0 auto;
  }

  .header-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .service-container-inner {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .email-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    align-items: center;
  }

  .icon-form {
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    flex-direction: column;
  }
}

/* Style for basic tags */
body {
  width: 100%;
  font-family: "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    var(--light-beige),
    var(--off-white-green),
    var(--off-white-blue)
  );
}

section {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: url("Web Background.png"),
    linear-gradient(
      var(--off-white-green),
      var(--off-white-blue),
      var(--light-beige)
    );
  background-size: cover;
  background-position: center;
}

footer {
  width: 100%;
  text-align: center;
  padding: 1em 0;
  margin: 0 auto;
  background: linear-gradient(
    var(--dark-blue),
    var(--primary-blue),
    var(--light-blue)
  );
  color: var(--primary-beige);
  box-shadow: 5px 5px 50px var(--light-blue);
}

hr {
  width: 95%;
  border: 0.5px solid var(--dark-blue);
}

main {
  width: 97%;
}

/* Navigaton Bar */
header {
  width: 100%;
  position: fixed;
  z-index: 2;
}

nav {
  font-size: 1.25em;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 15px;
  background: linear-gradient(
    var(--dark-blue),
    var(--primary-blue),
    var(--light-blue)
  );
  color: var(--primary-beige);
  box-shadow: 5px 5px 50px var(--light-blue);
  transition: all 200ms ease-in-out;
}

.nav-container {
  display: inline;
  justify-content: space-around;
}

.nav-link,
.nsg {
  text-decoration: none;
}

.nav-link {
  padding: 1rem;
  margin: 0 auto;
  color: var(--primary-beige);
  font-weight: 500;
}

.nav-link:hover {
  opacity: 0.8;
  color: var(--primary-green);
  cursor: pointer;
  font-weight: bold;
}

.nav-link:active {
  opacity: 0.8;
  color: var(--primary-green);
  font-weight: bold;
}

.parent-link-container {
  font-size: 1rem;
}

.logo {
  height: 42px;
  margin-left: 1.5rem;
  margin-top: -0.9rem;
}

.logo:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* Style for the welcome section */
.header-container {
  display: flex;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 60px;
}

.hdr-container-inner {
  width: 80%;
}

.hdr-container-inner h1 {
  font-size: 3.25em;
  margin-bottom: 32px;
  line-height: 1.05;
  color: var(--dark-blue);
}

.hdr-container-inner h2 {
  font-size: 2.75em;
  margin-bottom: 48px;
  color: var(--primary-blue);
}

.hdr-container-inner p {
  font-size: 1.25em;
  line-height: 1.6;
  margin-bottom: 48px;
  color: var(--light-blue);
}

.btn:link,
.btn:visited {
  font-size: 1.25em;
  font-weight: 600;
  background-color: var(--primary-green);
  color: var(--primary-beige);
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 25px;
  margin-bottom: 50px;
}

.btn:link:hover,
.btn:visited:hover {
  opacity: 0.8;
  background-color: var(--primary-blue);
  color: var(--primary-green);
  transition: 0.5s;
  transform: scale(1.1);
}

.icon {
  margin-bottom: 50px;
  display: flex;
}

.sm-icon {
  padding: 0 0.5rem;
  margin: 0;
  text-decoration: none;
  display: inline;
}

.sm-icon:hover {
  opacity: 0.8;
  transform: translateY(-20px) scale(1.2);
  transition: 0.5s;
}
.headshot {
  height: 450px;
}

/* Style for the about me section */
.about-me-container {
  display: block;
  justify-content: center;
  align-items: center;
  place-items: center;
}

.about-me-container h2 {
  font-size: 2.75em;
  padding-left: 60px;
  margin-bottom: 48px;
  color: var(--dark-blue);
}

.about-me-container h3 {
  font-size: 1.438em;
  margin-bottom: 48px;
  padding-left: 16px;
  color: var(--primary-blue);
  text-align: center;
}

.about-me-container p {
  font-size: 1.125em;
  line-height: 1.6;
  margin-bottom: 48px;
  padding-left: 60px;
  color: var(--light-blue);
}

/* Style for the my skills section */
.my-skills-container {
  display: block;
  justify-content: center;
  align-items: center;
  place-items: center;
}

.my-skills-container h2 {
  font-size: 2.75em;
  margin-bottom: 0px;
  padding-left: 60px;
  color: var(--dark-blue);
}

.my-skills-container h3 {
  font-size: 1.063em;
  margin-bottom: 10px;
  color: var(--primary-blue);
  text-align: center;
}

.my-skills-container p {
  font-size: 0.813em;
  line-height: 1.6;
  color: var(--light-blue);
}

/* Style for the container holding the five boxes */
.box-container {
  display: flex;
  justify-content: space-around;
  max-width: 1440px;
  margin: 20px;
}

/* Style for each individual box */
.box {
  width: 30%;
  padding: 20px;
  border: 1px solid var(--dark-green);
  text-align: center;
  justify-content: space-evenly;
}

/* Style for box headings */
.box h3 {
  background-color: var(--dark-blue);
  color: var(--dark-green);
  justify-content: space-evenly;
}

/* Style for box skill */
.box .skill {
  color: var(--dark-green);
  font-size: 1.2em;
  justify-content: space-evenly;
}

/* Style for box price */
.box .price {
  color: var(--dark-green);
  font-size: 1.2em;
  justify-content: space-evenly;
}

/* Style for box descriptions */
.box p {
  color: var(--primary-blue);
  justify-content: space-evenly;
}

/* Style for the projects section */
.slider-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slider {
  width: 80%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  transition: transform 1s ease-in-out;
}

.slider-container h2 {
  font-size: 2.75em;
  padding-left: 60px;
  margin-bottom: -20px;
  color: var(--dark-blue);
}
.slider-container h3 {
  font-size: 2.25em;
  margin-bottom: 10px;
  color: var(--primary-blue);
  text-align: center;
}
.slider-container p {
  font-size: 1.25em;
  line-height: 1.6;
  color: var(--light-blue);
}

.slide {
  min-width: 100%;
  transition: transform 1s ease-in-out, width 1s ease-in-out;
}

.project-img {
  width: 100%;
}

.dot-container {
  width: 8%;
  margin-top: 2%;
  z-index: 1;
  position: relative;
  left: 50%;
  bottom: 1.5rem;
  transform: translateX(-50%);
  text-align: center;
  background: linear-gradient(
    var(--light-green),
    var(--primary-green),
    var(--dark-green)
  );
  padding: 5px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px var(--light-blue);
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: var(--primary-beige);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.dot:active,
.dot:hover {
  background-color: var(--primary-blue);
}

/* Style for the services section */
/* Style for the box containing three boxes */
.service-container-inner {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 1%;
}
.service-container h2 {
  font-size: 2.75em;
  margin-bottom: 0px;
  padding-left: 60px;
  color: var(--dark-blue);
}

.service-container h3 {
  font-size: 2.25em;
  padding: 20px;
  margin: 10px;
  margin-bottom: 10px;
  color: var(--primary-blue);
  text-align: center;
}

.service-container p {
  font-size: 1.125em;
  line-height: 1.6;
  color: var(--light-blue);
  text-align: center;
  padding: 20px;
}

/* Style for each individual box */
.service-box {
  width: 80%;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 2px;
  flex-basis: 300px;
  transition: 400ms all ease;
  background: linear-gradient(
    var(--light-green),
    var(--dark-green),
    var(--off-white-green)
  );
  box-shadow: 5px 5px 20px var(--light-blue);
  border: var(--off-white-green) solid 0.1px;
}

.service-box:nth-child(even) {
  transform: translateY(-20px);
}

.service-box:hover {
  flex-basis: 400px;
  cursor: pointer;
}

.service-link,
.service-link:visited {
  width: 50%;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  background-color: var(--primary-green);
  color: var(--primary-beige);
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 25px;
  flex-basis: 300px;
  transition: 400ms all ease;
  box-shadow: 5px 5px 20px var(--light-blue);
  margin-left: 15%;
  margin-bottom: 10%;
}

.service-link:hover,
.service-link:visited:hover {
  width: 50%;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.8;
  background-color: var(--primary-blue);
  color: var(--primary-green);
  transition: 0.5s;
  flex-basis: 400px;
  cursor: pointer;
  box-shadow: 5px 5px 20px var(--light-blue);
}

/* Style for the hire me section */
.hire-me-container h2 {
  font-size: 2.75em;
  margin-bottom: 10px;
  padding-left: 60px;
  color: var(--dark-blue);
}

.email-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  align-items: center;
}

.email-form h3 {
  font-size: 2.25em;
  padding: 5px;
  color: var(--primary-blue);
  text-align: center;
}

.email-form h4 {
  font-size: 1.875em;
  color: var(--primary-blue);
  text-align: center;
}

.email-form label {
  font-size: 1.25em;
  font-weight: bold;
  color: var(--light-blue);
  align-items: start;
  padding: 5px;
}

.email-form input {
  font-size: 1.125em;
  color: var(--dark-blue);
  background-color: var(--off-white-blue);
  text-align: left;
  padding: 5px;
  margin: 10px 5px;
  border-radius: 10px;
}
.email-form textarea {
  font-family: "Helvetica", sans-serif;
  font-size: 1.125em;
  color: var(--dark-blue);
  background-color: var(--off-white-blue);
  text-align: left;
  padding: 5px;
  margin: 10px 5px;
  border-radius: 10px;
}

::placeholder {
  color: var(--dark-green);
}

.email-form p {
  font-size: 1.25em;
  color: var(--light-blue);
  text-align: center;
  padding-bottom: 20px;
}

.icon-form {
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  flex-direction: column;
}

.send {
  margin: 0 auto;
  width: 20%;
  text-align: center;
  font-size: 1.25em;
  font-weight: 600;
  background-color: var(--primary-green);
  color: var(--primary-beige);
  text-decoration: none;
  display: block;
  padding: 16px 32px;
  border-radius: 25px;
  transition: all 200ms ease-in-out;
}

.send:link:hover,
.send:visited:hover {
  opacity: 0.8;
  background-color: var(--primary-blue);
  color: var(--primary-green);
  transform: scale(1.1);
}
